:root {
  --color-gradient-1: #7d7aff80;
  --color-gradient-2: #2121e280;
  --color-gradient-3: #fa313180;
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);

  color-scheme: light dark;
  background: Canvas;
  color: CanvasText;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:has([data-color-scheme="light"]) {
  color-scheme: light;
}

:has([data-color-scheme="dark"]) {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html,
body,
main {
  min-height: 100vh;
}

h1 {
  font-size: 4.5rem;
  font-weight: 800;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
      at 71% 77%,
      var(--color-gradient-1) 0,
      transparent 21%
    ),
    radial-gradient(at 36% 47%, var(--color-gradient-3) 0, transparent 50%),
    radial-gradient(at 45% 51%, var(--color-gradient-1) 0, transparent 53%),
    radial-gradient(at 73% 44%, var(--color-gradient-2) 0, transparent 54%),
    radial-gradient(at 24% 10%, var(--color-gradient-2) 0, transparent 40%),
    radial-gradient(at 76% 46%, var(--color-gradient-1) 0, transparent 50%);
  filter: blur(44px);
  z-index: -1;
  opacity: 0.5;
}

.container {
  width: 1024px;
  max-width: 90%;
  margin: 0 auto;
}

.text-xs {
  font-size: 12px;
}

.text-xl {
  font-size: 1.4rem;
}

.font-semibold {
  font-weight: 600;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.opacity-base {
  opacity: 0.9;
}

.text-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-md {
  border-radius: 9px;
}

/* flex */
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-xl {
  gap: 2rem;
}

/* margin */
.mt-1 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mx-auto {
  margin: 0 auto;
}

/* padding */
.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

/* buttons */
.neon-button {
  font-size: 2rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

.breadcrumb {
  display: flex;
  margin: 24px 0;
  color: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.5));
}

.dark-light-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.breadcrumb .breadcrumb-item {
  color: light-dark(rgb(121, 90, 95), pink);
  margin: 0 4px;
}

/* loading */

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  z-index: 9999;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.breadcrumb .breadcrumb-item:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  .neon-button {
    font-size: 1.7rem;
  }
}
